body{
    background:conic-gradient(from 180deg at 50% 50%, #2C5060 -13.12deg, #6C5662 61.87deg, #6C5662 163.12deg, #2C5060 320.63deg, #2C5060 346.88deg, #6C5662 421.87deg);

}
.default{
    background:conic-gradient(from 180deg at 50% 50%, #2C5060 -13.12deg, #6C5662 61.87deg, #6C5662 163.12deg, #2C5060 320.63deg, #2C5060 346.88deg, #6C5662 421.87deg);
}
.footer{
    background-color:none;
}
.text-color{
    color:#daa520;
}
.text-color:hover{
    color:#ffff;
}
