{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header  pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">My Booking</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">My Booking</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Booking</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Booking History</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Game Parks/Game Reserve</th>
                  
                  <th scope="col" class="sort" data-sort="status">Booking Status</th>
                  <th scope="col">Arrival Date</th>
                  <th scope="col" class="sort" data-sort="completion">Return Date</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      
                      <div class="media-body">
                        <span class="name mb-0 text-sm">Nairobi National Park</span>
                      </div>
                    </div>
                  </th>
                 
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-success"></i>
                      <span class="status">completed</span>
                    </span>
                  </td>
                  <td>
                    <div class="date">
                      <span class="date mr-2">23/12/2022</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="date mr-2">25/12/2022</span>
                      <div>
                        <div class="">
                          <div class="" style="width: 100%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      
                      <div class="media-body">
                        <span class="name mb-0 text-sm">Nairobi National Park</span>
                      </div>
                    </div>
                  </th>
                 
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-success"></i>
                      <span class="status">completed</span>
                    </span>
                  </td>
                  <td>
                    <div class="date">
                      <span class="date mr-2">1/1/2023</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="date mr-2">2/1/2023</span>
                      <div>
                        <div class="">
                          <div class="" style="width: 100%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      
                      <div class="media-body">
                        <span class="name mb-0 text-sm">Amboseli National Park</span>
                      </div>
                    </div>
                  </th>
                 
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-success"></i>
                      <span class="status">completed</span>
                    </span>
                  </td>
                  <td>
                    <div class="date">
                      <span class="date mr-2">24/12/2022</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="date mr-2">27/12/2022</span>
                      <div>
                        <div class="">
                          <div class="" style="width: 100%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      
                      <div class="media-body">
                        <span class="name mb-0 text-sm">Marsabit National Park</span>
                      </div>
                    </div>
                  </th>
                 
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-success"></i>
                      <span class="status">completed</span>
                    </span>
                  </td>
                  <td>
                    <div class="date">
                      <span class="date mr-2">24/12/2022</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="date mr-2">26/12/2022</span>
                      <div>
                        <div class="">
                          <div class="" style="width: 100%;"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
